{% extends "_layout.html" %}
{% block body %}
    <div class="pageHeader content-header has-image no-logo">
        <div class="filter"></div>
        <div class="row pageNav">
            <div class="col pageNav--prev" style="text-align: left; margin: auto; font-size: 24px">
                {% if etape.id_etape != 1 %}
                    <a href="{{ etape.id_etape - 1 }}" data-clicktype="N"  style="vertical-align: top; color: orange;">
                        <b><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg></b>
                    </a>
                {% endif %}
            </div>
            <div class="col-8 pageNav--header">
                <a style="background-color: yellow; text-align: center;">{{ etape.date_etape.strftime('%d/%m/%Y') }}</a>
                <h2 style="text-align: center;">{{ etape.libelle_etape }}</h2>
                <h4 style="text-align: center;">{{ etape.villes }}</h4>
                <div class="row long-and-type">
                    <div class="col-6" style="text-align: left; font-size: 15px">
                        <a style="font-size: 11px">Longeur</a>
                        <br>{{ etape.longueur }} km
                    </div>
                    <div class="col-6" style="text-align: right; font-size: 15px">
                        <a style="font-size: 11px">Type</a>
                        <br>{{ etape.libelle_type_etape }}
                    </div>
                </div>
            </div>
            <div class="col pageNav--next" style="text-align: right; margin: auto; font-size: 24px">
                {% if etape.id_etape != 21 %}
                    <a href="{{ etape.id_etape + 1 }}" data-clicktype="N"  style="vertical-align: top; color: orange;">
                        <b><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg></b>
                    </a>
                {% endif %}
            </div>
        </div>
    </div><hr>
    <div class="description-etape">
        <b>{{ etape.descriptif1 }}</b><br><br>
        {{ etape.descriptif2 }}<br><br>
        {{ etape.descriptif3 }}<br>
        <img src="/static/images/etapes/tdf-2023-etape-{{ etape.id_etape }}.png" style="height: 400px; display: block; margin-left: auto; margin-right: auto;">
    </div><hr>
    <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner" style="margin: auto; ">
            {% for col in cols %}
                <div style="background-color: grey; text-align: center"
                        {% if col.id_col == min_col_id.id %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                    <br><h3>
                        {{ col.nom_col }}
                        {% if col.cat_col == 0 %}
                            (Hors catégorie)
                        {% elif col.cat_col != null %}
                            ({{ col.cat_col }}e catégorie)
                        {% endif %}
                    </h3>
                    <h5>Km {{ col.situation_km }} - {{ col.altitude }}m</h5>
                    {% if col.nb_km < 1 %}
                        {{ col.nb_km * 1000 }}m de montée à {{ col.poucentage_moyen }}%<br><br>
                    {% else %}
                        {{ col.nb_km }}km de montée à {{ col.poucentage_moyen }}%<br><br>
                    {% endif %}
                    {% if col.img_profil_col != '' %}
                        <img src="/static/images/etapes/{{ col.img_profil_col }}" class="d-block w-100" style="max-height: 50%; max-width: 50%; margin-left: auto; margin-right: auto;"><br>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div><hr>
{% endblock %}