{% extends "_layout.html" %}
{% block body %}
    <div class="pageHeader content-header has-image no-logo">
        <div class="filter"></div>
        <div class="row pageNav">
            <div class="col-3 pageNav--prev" style="text-align: left; margin: auto; font-size: 24px">
                {% if team.id_equipe == first_equipe.id_equipe %}
                    <a href="{{ last_equipe.abrev_equipe }}" data-clicktype="N"  style="vertical-align: top">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        <span class="hidden--xs">{{ last_equipe.nom }}</span>
                    </a>
                {% else %}
                    <a href="{{ prev_equipe.abrev_equipe }}" data-clicktype="N">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                        </svg>
                        <span class="hidden--xs">{{ prev_equipe.nom }}</span>
                    </a>
                {% endif %}
            </div>
            <div class="col-6 pageNav--header">
                <h2 style="text-align: center;">{{ team.nom_equipe }}</h2>
                <h4 style="text-align: center;">
                    <object data="/static/images/pays/{{ team.drapeau_svg }}.svg" width="24" height="18"> </object>&nbsp;
                    {{ team.nom_pays }}
                </h4>
            </div>
            <div class="col-3 pageNav--next" style="text-align: right; margin: auto; font-size: 24px">
                {% if team.id_equipe == last_equipe.id_equipe %}
                    <a href="{{ first_equipe.abrev_equipe }}" data-clicktype="N">
                        <span class="hidden--xs">{{ first_equipe.nom }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                {% else %}
                    <a href="{{ next_equipe.abrev_equipe }}" data-clicktype="N">
                        <span class="hidden--xs">{{ next_equipe.nom }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </a>
                {% endif %}
            </div>

        </div>
    </div>
    <hr>
    <div class="row">
        {% for coureur in coureurs %}
            <div class="card col-3 mt-3">
                <img src="/static/images/coureurs/{{ coureur.img_coureur }}" style="height: 100px; width: 100px">
                <a href="/coureur/{{ coureur.id_coureur }}">
                    {{ coureur.id_coureur }}
                    <object data="/static/images/pays/{{ coureur.drapeau_svg }}.svg" width="14" height="10.5"> </object>
                    {{ coureur.coureur }}
                </a>
                {{ coureur.date_naissance.strftime('%d/%m/%Y') }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
