{#https://getbootstrap.com/docs/4.0/components/navbar/#}

<nav class="navbar navbar-expand-lg navbar-light bg-dark d-flex">
    <img class="image_nav" src="/static/tdf_logo.png">
    <a class="navbar-brand" style="color: white" href="/">Tour de France 2023</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white" id="dropdownEtapes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Parcours
                    </a>
                    <div class="dropdown-menu" style="background-color: black;" aria-labelledby="dropdownEtapes">
                        <div class="dropdown-divider"></div>
                        <a href="/carte-TDF-2023" class="btn btn-outline-warning align-content-center" data-bs-toogle="button">CARTE</a>
                        <div class="dropdown-divider"></div>
                        {% for etape in etapes %}
                            <a class="dropdown-item" style="color: white" href="/etape/{{ etape.id_etape }}">
                                {{ etape.date_etape.strftime('%d/%m/%Y') }} | {{ etape.libelle_etape }} | {{ etape.villes }} | {{ etape.longueur }} km | {{ etape.libelle_type_etape }}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                    </div>
            </li>
            <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="color: white" id="dropdownEquipes" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Equipes
                    </a>
                    <div class="dropdown-menu" style="background-color: black;" aria-labelledby="dropdownEquipes">
                        <div class="dropdown-divider"></div>
                        {% for equipe in equipes %}
                            <a class="dropdown-item" style="color: white" href="/equipe/{{ equipe.abrev_equipe }}">
                                <img src="/static/images/equipes/{{ equipe.img_maillot_equipe }}" style="height: 30px; width: 30px;">
                                {{ equipe.nom_equipe }}</a>
                        {% endfor %}
                        <div class="dropdown-divider"></div>
                    </div>
            </li>
        </ul>
        {#<ul class="nav navbar-nav navbar-right">
            <!-- Authentication Links -->
            {% if session['role']  %}
                <span class="navbar-text">
                    Bonjour {{ session['username'] }}
                    {% if session['role']=='ROLE_admin' %} (role : Admin)
                    {% elif session['role']=='ROLE_client' %} (role : Client) {% endif %}
                    &nbsp
            </span>
               <a class="btn btn-outline-danger ml-2" type="button" href="/logout" >
                    Se déconnecter (Logout)
                </a>
            {% else %}
                <a class="btn btn-outline-primary mr-1" type="button" href="/login" >
                    Se connecter (Login)
                </a>
                <a class="btn btn-outline-primary mr-1" type="button" href="/signup" >
                    Inscription  (Sign Up)
                </a>
                <a class="btn btn-outline-primary" type="button" href="/forget-password">
                    Mot de passe oublié
                </a>
            {% endif %}
        </ul>#}
    </div>
</nav>

